body {
    max-width: 540px;
    min-width: 320px;
    margin: 0 auto;
    font: normal 14px/1.5 Tahoma, "Lucida Grande", Verdana, "Microsoft Yahei", STXihei, hei;
    color: #000;
    background: #f2f2f2;
    overflow-x: hidden;
    -webkit-tap-highlight-color: transparent;
}
.search-index{
    /* 固定定位会被移除标准流，根据屏幕视口来指定位置，也就是说，屏幕滚动时，页面不会变 */
    position: fixed;
    top: 0;
    left: 0;
    /* 固定定位的盒子必须有宽度 */
    width: 100%;
    height: 44px;
    background-color: pink;
}
